body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0px;
padding: 0px;
line-height: 1.5;
background-color: #f4f4f4;
}
.container
{
  width: 80%;
  overflow: hidden;
  margin: auto;

}/*
#boxes  .animate1{
  animation-delay: 1s;
  animation-duration: 1s;
animation-iteration-count: 1;
}
#boxes .animate2{
  animation-delay: 2s;

}
*/
header ul{
  margin: 0;
  padding: 0;
}
header{
  background-color: #35424a;
  color: #ffffff;
  margin-top: 0px;
  width: 100%;
height: 86px;
  border-bottom: #e8491d solid 3px;
  border-top: #e8491d solid 3px;
  position: fixed;
 z-index:5 ;
 opacity: 0.7;
 
  
}
header a{
  font-family: 'Prosto One', cursive;
  color: #ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 15px;
  text-underline-position: unset;

}
header a:hover{
  color: #d6d4d4;
  font-weight: bold;

}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;

}
header .branding{
  float: left;
  
  
}
header .branding h1{
  margin: 0px;
  margin-top: 20px;
}
header nav{
  float: right;
  margin-bottom:100px;
  margin-top: -20px;
}
header .heilight{
  color: #e8491d;
  font-weight: bold;
}
.showcase{
  min-height: 638px;
  background: url('img/showcase.jpg') no-repeat 0 -400px;
  text-align: center;
  color: #ffffff;
  border-bottom: #e8491d solid 3px;
  

}
 
.showcase h1{
  padding-top:100px; 
  font-family: 'Yeon Sung', cursive; 
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
.showcase p{
  font-size: 20px;
  
  font-family: 'Cabin Sketch', cursive;
}
.boxes{
  margin-top: 20px;
  height: 400px; 
 
  margin-bottom: -13px;
}

.boxes .box{
float: left;
text-align: center;
width: 30%;
padding: 10px;
font-family: 'Forum', cursive;
}
.boxes .box img {
  width: 90px;
}
.testimotion{
  
  padding: 10px 0px 10px 0;
  text-align: center;
  
  border-bottom: #e8491d solid 3px;
}
.container a{
  font-size: 100px;
  color: #0000;
  font-family: 'Cute Font', cursive;
}
.contact{
  min-height: 416px;
  background: url('../img/contact-me.jpg') no-repeat 0 -400px;
  background-size:inherit;
  text-align: center;
  color: #000000;
  border-bottom: #e8491d solid 3px;

  

}
.contact h1{
  
  padding-top:100px; 
  font-family: 'Cute Font', cursive;
  margin-top: -50px;
  font-size: 55px;
  color: #d86140;
}
  .contact h1:hover{
  
    font-weight: bold;
    color: #ff3700;
   
}
.contact p{
  font-size: 25px;
  
  font-family: 'Cuprum', sans-serif;
}
.contact p:hover{
  font-weight: bold;
  color: #2b2828;
}
.gap{
  text-align: left;
  padding-left: 10px;
  color: rgba(255, 38, 0, 0.87);
  font-weight: bold;
}
.about{
  min-height: 416px;
  
  background-size:inherit;
  text-align: center;
  color: #000000;
  border-bottom: #e8491d solid 3px;

  

}
.about h1{
  
  padding-top:100px; 
  font-family: 'Cute Font', cursive;
  margin-top: -90px;
  font-size: 55px;
  color: #d86140;
}
  .about h1:hover{
  
    font-weight: bold;
    color: #ff3700;
   
}
.about p{
  font-size: 25px;
  
  font-family: 'Cuprum', sans-serif;
}
.about p:hover{
  font-weight: bold;
  color: #2b2828;
}
#my-about .paragraph{
  text-align:  justify;
  margin-bottom: 10px;

}